.p-12
  = paginate @recipes
  %table.table-auto
    %thead
      %tr
        %th.px-4.py-2 Name
        %th.px-4.py-2 Name (English)
        %th.px-4.py-2 Thumbnail
    %tbody
      - @recipes.each do |recipe|
        %tr
          %td.border.px-4.py-2
            = recipe.name
          %td.border.px-4.py-2
            = recipe.name_en
          %td.border.px-4.py-2
            = image_tag recipe.thumbnail_url, size: "50x60", alt: recipe.name
